In [19]:
'''Q1: Create a series with 3 values at indexes 2, 4, and 7.
a.	Reindex the series as ‘0’, ‘1’, …. ‘9’. 
b.	Backward fill the Null values with limit 2.
c.	Fill the null values in series from part a with ‘Missing’.
d.	Drop all the values in series from part c which are not ‘Missing’.

'''
from math import nan
import pandas as pd
Gone=pd.Series(['London','Paris','Capetown' ],index=[2,4,7])
print(Gone,'\n')
#(a) Reindexed Series 
New_index=[0,1,2,3,4,5,6,7,8,9]
Gone1=Gone.reindex(New_index)
print(Gone1,'\n')
#(b) Backward fill the Null values with limit 2.
print("Backward fill: with limit 2",'\n',Gone1.bfill(limit=2),'\n')
#(c) Fill the null values in series from part a with ‘Missing’.
new_gone=Gone1.fillna('Missing')
print(new_gone,'\n')
#(d) Drop all the values in series from part c which are not ‘Missing’.
print(new_gone.drop([2,4,7]))

2      London
4       Paris
7    Capetown
dtype: object

0         NaN
1         NaN
2      London
3         NaN
4       Paris
5         NaN
6         NaN
7    Capetown
8         NaN
9         NaN
dtype: object

Backward fill: with limit 2
 0      London
1      London
2      London
3       Paris
4       Paris
5    Capetown
6    Capetown
7    Capetown
8         NaN
9         NaN
dtype: object

0     Missing
1     Missing
2      London
3     Missing
4       Paris
5     Missing
6     Missing
7    Capetown
8     Missing
9     Missing
dtype: object

0    Missing
1    Missing
3    Missing
5    Missing
6    Missing
8    Missing
9    Missing
dtype: object

In [69]:
'''Q2: Create a data frame of values from 0 to 12 with 3 rows and 4 columns. 
A. Name the index and columns.
B. Create a series of even values of length 5 and add that series into the data frame
1. Columns wise
2. Row wise
C. Reindex either columns or rows to fill the missing values in both 1 and 2 with 0.
D. Sort the values of the data frame from section 1 in descending order. 
'''
import pandas as pd
import numpy as np
drdoom=pd.DataFrame((np.arange(12).reshape(3,4)))
print(drdoom,'\n')
#A. Name the index and columns.
section1=drdoom.rename(columns={0: 'Col_1', 1: 'Col_2', 2:'Col_3', 3:'Col_4'},
        index={0:'alpha',1:'beta',2:'gamma'})
print(section1,'\n')
#B adding series of even values
even_s=pd.Series([22,24,36,38,40],)
print("Series of even integers:\n",even_s,'\n')
#1 adding Series by column wise
R_drdoom=drdoom.add(even_s,axis=1)
print('Adding series and dataframe column wise\n',R_drdoom,'\n')
#2 adding Series by row wise
R_drdoom1=drdoom.add(even_s,axis=0)
print('Adding series and dataframe row wise \n',R_drdoom1,'\n')
# C Reindexing either columns or rows to fill the missing values in both 1 and 2 with 0.
print('output first','\n',drdoom.reindex(columns=R_drdoom.columns, fill_value=0),'\n')
print('output second','\n',drdoom.reindex(index=R_drdoom1.index, fill_value=0),'\n')
#D sorting the Data frame from Section 1 i.e A in descending order
print("sorted data of section 1 row wise in descending order",'\n\n',section1.sort_values(by=["Col_1","Col_2","Col_3","Col_4"],axis=0,ascending=False),'\n')
print("sorted data of section 1 column wise in descending order",'\n\n',section1.sort_values(by=["alpha","beta","gamma"],axis=1,ascending=False))

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

       Col_1  Col_2  Col_3  Col_4
alpha      0      1      2      3
beta       4      5      6      7
gamma      8      9     10     11

Series of even integers:
 0    22
1    24
2    36
3    38
4    40
dtype: int64

Adding series and dataframe column wise
     0   1   2   3   4
0  22  25  38  41 NaN
1  26  29  42  45 NaN
2  30  33  46  49 NaN

Adding series and dataframe row wise
       0     1     2     3
0  22.0  23.0  24.0  25.0
1  28.0  29.0  30.0  31.0
2  44.0  45.0  46.0  47.0
3   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN

output first
    0  1   2   3  4
0  0  1   2   3  0
1  4  5   6   7  0
2  8  9  10  11  0

output second
    0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
3  0  0   0   0
4  0  0   0   0

sorted data of section 1 row wise in descending order

        Col_1  Col_2  Col_3  Col_4
gamma      8      9     10     11
beta       4      5      6      7
alpha      0      1      2      3

sorted data of section 1 column wise in descending order

        Col_4  Col_3  Col_2  Col_1
alpha      3      2      1      0
beta       7      6      5      4
gamma     11     10      9      8

In [34]:
'''
Q3: Consider the series s1 = 8, -3, -4, 3, -4, 8, 2, 1, 2, 0
A. Rank the series with tie-breaker method as Min. 
B. Rank the series with tie-breaker method as First. 
'''
import pandas as pd
#series
s1=pd.Series([8, -3, -4, 3, -4, 8, 2, 1, 2, 0])
print(s1)
print(s1.rank(method='min'))
print(s1.rank(method='first'))

0    8
1   -3
2   -4
3    3
4   -4
5    8
6    2
7    1
8    2
9    0
dtype: int64
0    9.0
1    3.0
2    1.0
3    8.0
4    1.0
5    9.0
6    6.0
7    5.0
8    6.0
9    4.0
dtype: float64
0     9.0
1     3.0
2     1.0
3     8.0
4     2.0
5    10.0
6     6.0
7     5.0
8     7.0
9     4.0
dtype: float64

In [70]:
'''Q4: Consider the Data Frame DF

	x	z	s	y
a	12	nan	3	nan
b	22	32	2	9
c	5	nan	4	45
e	89	56	32	nan
d	nan	62	7	15

a.	Rank the DF across the columns. 
b.	Rank the DF down the rows
c.	Find the sum of DF across the columns
d.	Find the Cumulative Product of DF down the rows
e.	Sort the DF with the values.
f.	Sort the DF with row indexes
g.	Sort the DF by s and x
h.	Perform 1/DF for each element of DF
i.	Use loc access element in the third column and 4th row. 
j.	Use iloc to access all the elements in the 2nd column
k.	Set the nan value in the x column with 0 using the set_value method. 
l.	Create your own lambda function where you find the min value in columns
     and multiply it with 5 and apply it on the DF. 
m.	Create your own lambda function to divide each element in the DF by 10. 

'''
import pandas as pd
import numpy as np
Gdf=pd.DataFrame({'x':[12, 22, 5, 89, np.nan],
                  'z':[np.nan, 32, np.nan, 56, 62],
                  's':[3, 2, 4, 32, 7],
                  'y':[np.nan, 9, 45, np.nan, 15]},
                  index=['a','b','c','e','d'])
new_gdf=Gdf
nan=np.nan
print("Dataframe is:",'\n',Gdf,'\n')
#a.	Rank the DF across the columns.
print("Rank of DF across columns",'\n',Gdf.rank(axis='columns'),'\n')
#b.	Rank the DF down the rows
print('Rank of DF down the rows:','\n',Gdf.rank(axis='index'),'\n')
#c.	Find the sum of DF across the columns
print("Sum aross the columns:",'\n',Gdf.sum(axis=1),'\n')
#d.	Find the Cumulative Product of DF down the rows
print("Comulative product Down the rows: ",'\n',Gdf.cumprod(axis=0),'\n')
#e.	Sort the DF with the values.
print("Sorting the Df with values :",'\n',Gdf.sort_values(by=['x','z','s','y']),'\n')
#f.	Sort the DF with row indexes
print("Sorting the df with indexes: ",'\n',Gdf.sort_index(),'\n')
#g.	Sort the DF by s and x
print("Sorting the by s and x: ",'\n',Gdf.sort_values(by=['s','x']),'\n')
#h.	Perform 1/DF for each element of DF
print("Dividing 1 by all the elements of DF ",'\n',1/Gdf,'\n')
#i.	Use loc access element in the third column and 4th row.
print("Element of 4th row and 3rd column: \n ",Gdf.loc[['e'],'s'],'\n') 
#j.	Use iloc to access all the elements in the 2nd column
print("Element in the 2nd column\n",Gdf.iloc[:,1],'\n')
#k.	Set the nan value in the x column with 0 using the set_value method.
'''l.	Create your own lambda function where you find the min value in columns
     and multiply it with 5 and apply it on the DF. '''
print("multiplication of  min from 5\n",Gdf.apply(lambda x: x.min()*5, axis=1),'\n')
     
#m.	Create your own lambda function to divide each element in the DF by 10.
print("Elements of dataframe divide by 10:",'\n',Gdf.apply(lambda x: x/10))

Dataframe is:
       x     z   s     y
a  12.0   NaN   3   NaN
b  22.0  32.0   2   9.0
c   5.0   NaN   4  45.0
e  89.0  56.0  32   NaN
d   NaN  62.0   7  15.0

Rank of DF across columns
      x    z    s    y
a  2.0  NaN  1.0  NaN
b  3.0  4.0  1.0  2.0
c  2.0  NaN  1.0  3.0
e  3.0  2.0  1.0  NaN
d  NaN  3.0  1.0  2.0

Rank of DF down the rows:
      x    z    s    y
a  2.0  NaN  2.0  NaN
b  3.0  1.0  1.0  1.0
c  1.0  NaN  3.0  3.0
e  4.0  2.0  5.0  NaN
d  NaN  3.0  4.0  2.0

Sum aross the columns:
 a     15.0
b     65.0
c     54.0
e    177.0
d     84.0
dtype: float64

Comulative product Down the rows:
           x         z     s       y
a      12.0       NaN     3     NaN
b     264.0      32.0     6     9.0
c    1320.0       NaN    24   405.0
e  117480.0    1792.0   768     NaN
d       NaN  111104.0  5376  6075.0

Sorting the Df with values :
       x     z   s     y
c   5.0   NaN   4  45.0
a  12.0   NaN   3   NaN
b  22.0  32.0   2   9.0
e  89.0  56.0  32   NaN
d   NaN  62.0   7  15.0

Sorting the df with indexes:
       x     z   s     y
a  12.0   NaN   3   NaN
b  22.0  32.0   2   9.0
c   5.0   NaN   4  45.0
d   NaN  62.0   7  15.0
e  89.0  56.0  32   NaN

Sorting the by s and x:
       x     z   s     y
b  22.0  32.0   2   9.0
a  12.0   NaN   3   NaN
c   5.0   NaN   4  45.0
d   NaN  62.0   7  15.0
e  89.0  56.0  32   NaN

Dividing 1 by all the elements of DF
           x         z         s         y
a  0.083333       NaN  0.333333       NaN
b  0.045455  0.031250  0.500000  0.111111
c  0.200000       NaN  0.250000  0.022222
e  0.011236  0.017857  0.031250       NaN
d       NaN  0.016129  0.142857  0.066667

Element of 4th row and 3rd column:
  e    32
Name: s, dtype: int64

Element in the 2nd column
 a     NaN
b    32.0
c     NaN
e    56.0
d    62.0
Name: z, dtype: float64

multiplication of  min from 5
 a     15.0
b     10.0
c     20.0
e    160.0
d     35.0
dtype: float64

Elements of dataframe divide by 10:
      x    z    s    y
a  1.2  NaN  0.3  NaN
b  2.2  3.2  0.2  0.9
c  0.5  NaN  0.4  4.5
e  8.9  5.6  3.2  NaN
d  NaN  6.2  0.7  1.5